main, h1{
  padding: 1em;
  color: orangered;

}

html{
  background-color: lightgray;
}

img{
  height: 15rem;
  width: auto;
  border-radius: 20px;
}

nav, img {
  box-shadow: 10px 10px black;
}

li {
  list-style-type: none;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
